#inside {
    top: 0;
    left: 0;
    width: 95%;
    padding: 0.25rem 2.5%;
    font-size: 1rem;
    line-height: 2rem;
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "ipag", monospace;
}

#inside div {
    transform: scale(1, 2);
}

.tab {
    color: #000;
    text-decoration: none;
}

.tab:hover,
.check b {
    cursor: pointer;
    color: blue;
    transition: all 500ms ease;
}

.check {
    float: left;
    display: inline-block;
    width: 2.5rem;
    margin-right: 1rem;
    text-align: center;
}

.check:before {
    content: '[';
    opacity: 1;
}

.check:after {
    content: ']';
    opacity: 1;
}

.check b {
    opacity: 0;
    transition: all 1000ms ease;
}

.tab:hover+.check b {
    opacity: 1;
    transition: all 1000ms ease;
}

#ityped {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.change {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background: #fff;
}

.infomation {
    width: 75%;
    max-width: 35rem;
    padding: 5%;
    margin: 7.5rem auto 0;
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-family: "ipag", monospace;
}

.infomation h1 {
    font-size: 1.5rem;
    line-height: 3rem;
}

.infomation hr {
    border: none;
    border-bottom: dotted;
    padding: 1.5rem 0;
    margin-bottom: 2.5rem;
}

.infomation u {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
    display: inline-block;
    transform: scale(1, 1.25);
}

.infomation a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    display: inline-block;
    transform: scale(1, 1.25);
    border: solid 2px;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
}

.infomation b {
    display: inline-block;
    transform: scale(1, 1.25);
    color: red;
    margin-right: 0.25rem;
    font-size: 125%;
}

.infomation a:hover {
    color: #fff;
    background-color: red;
    border: solid 2px red;
}

.infomation i,
.infomation span:after {
    position: relative;
    display: inline-block;
    transform: scale(1, 1.25);
    font-size: 125%;
    color: #fff;
    -webkit-text-stroke: 0.05rem #000;
    text-stroke: 0.05rem #000;
}

.infomation i {
    margin-right: 0.25rem;
}

.infomation span:after {
    margin: 0 1rem;
}

.yes:after {
    content: "けど、できない";
}

.no:after {
    content: "けど、気になる";
}

.or:after {
    content: "けど、やってみたい";
}

@media screen and (max-width: 750px) {
    #inside {
        font-size: 0.75rem;
    }
    .check {
        width: 1.5rem;
        margin-right: 0.5rem;
    }
    .infomation {
        font-size: 1rem;
        line-height: 2rem;
    }
    .infomation h1 {
        font-size: 1.25rem;
        line-height: 2.5rem;
    }
    .infomation span:after {
        margin: 0 0.5rem;
    }
    .infomation a {
        font-size: 1.25rem;
        margin-right: 0.25rem;
    }
}