.is-hide,
.nothing,
.none,
input,
input[type="radio"] {
    display: none;
}

nav ol {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0 1rem 0.5rem;
}

nav li {
    margin: 0;
    display: inline-block;
    padding-bottom: 0 1rem 0.5rem;
    text-transform: uppercase;
}

nav li label::before {
    display: inline-block;
    color: #000;
    content: '|';
    font-size: 100%;
    font-weight: bold;
    padding: 0 0.5rem 0 0.25rem;
}

nav li .reset-button {
    font-size: 0.5rem;
    display: inline-block;
    margin: 0.25rem 0.5rem;
    padding: 0.125rem 0.25rem;
    background: #fff;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    transition: all 1000ms ease;
    text-transform: uppercase;
}

nav li .reset-button:hover {
    color: #fff;
    background: #ccc;
    cursor: pointer;
}

.org {
    color: #aaa;
    padding: 0 0.25rem 0;
    margin: 0;
    list-style-type: none;
}

.org h2 {
    padding: 0 0.5rem;
}

.org li {
    position: relative;
    padding: 1rem 0.5rem 0;
    font-family: "ipag", monospace;
}

.org li:hover {
    border-bottom: solid #ccc 1px;
}

.org .what,
.org .date,
.org .info {
    pointer-events: none;
    user-select: none;
}

.org .what {
    position: relative;
    z-index: 1;
    margin: 0.5rem 0;
}

.org .date {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    text-decoration: double underline;
}

.org .info {
    font-size: 75%;
    margin: 0.5rem 0;
}

.org .info span {
    white-space: pre-wrap;
}

.org .list_item a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}

@media print {
    nav li .reset-button {
        display: none;
    }
}