body{margin:0; padding:0;}
.library {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.library>* {
  display: inline-block;
}
.library li{
  width:45rem;
  max-width:90vw;
  height: 94vh;
  overflow:hidden;
}
.library li iframe{
  width: 100%;
  height: 100%;
  border: none;
}
.library::-webkit-scrollbar{
  width: 0;
  height: 5vh;
  background: #fff;
}
.library::-webkit-scrollbar-track{
}
.library::-webkit-scrollbar-thumb{
    background: linear-gradient(-90deg, #b3cbf6, #FFC778, #eee);
    background-size: 400% 400%;
    animation: gradientBG 5s ease infinite;
}
@keyframes gradientBG {
0% {background-position: 0% 50%;}
50% {background-position: 100% 50%;}
100% {background-position: 0% 50%;}
}
