@font-face {
    font-family: "Kristina";
    src: url("https://creative-community.space/coding/fontbook/family/Kristina.Fine.otf"), url("https://creative-community.space/coding/fontbook/family/Kristina.Bold.otf");
}

@font-face {
    font-family: "DiaPro";
    src: url("https://creative-community.space/coding/fontbook/family/DiaPro/DiaPro-Regular.eot"), url("https://creative-community.space/coding/fontbook/family/DiaPro/DiaPro-Regular.otf"), url("https://creative-community.space/coding/fontbook/family/DiaPro/DiaPro-Regular.woff");
}

#GoOut.contents_inner {
    padding: 0 0 1rem;
    background: lemonchiffon;
}

#GoOut .item_name {
    font-family: "Kristina", "DiaPro";
    text-align: center;
    line-height: 150%;
    font-size: 1.5rem;
    padding: 4.5rem 0 1.25vw;
    transform: scale(1, 1.5);
    color: lightskyblue;
    animation: 0.75s linear infinite alternate play;
}

#GoOut.content_section::before {
    content: 'Go Out';
    font-family: "Kristina";
    display: block;
    color: lightskyblue;
    padding: 2.5rem;
    margin: 1rem auto 2.5rem;
    font-size: 4.5rem;
    text-align: center;
    animation: 0.75s linear infinite alternate play;
}

#GoOut.content_section {
    padding: 1vw;
    background: lemonchiffon;
}

#GoOut.content_section .item_noimage .name {
    font-family: "Kristina", "DiaPro", serif;
    display: block;
}

#GoOut .itemdetail_image {
    display: none;
}

#GoOut .by {
    text-align: center;
}

#GoOut .comment1 {
    padding: 2.5rem 4.5vw 0;
    font-family: "Gill Sans";
    font-size: 90%;
    line-height: 200%;
    text-transform: uppercase;
}

#GoOut .comment2 {
    font-family: 'Libre Baskerville', "YuMincho", "Yu Mincho", "游明朝体", serif;
}

#GoOut .comment2 p {
    padding: 0 2.5vw 0;
}

#GoOut .moreinfo,
#GoOut .comment2 .moreinfo {
    background: #fff;
    color: #000;
    text-align: center;
    font-family: "DiaPro";
}

@keyframes play {
    from {
        letter-spacing: 0.1rem
    }
    to {
        letter-spacing: .25rem
    }
}

@-webkit-keyframes play {
    from {
        letter-spacing: 0.1rem
    }
    to {
        letter-spacing: .25rem
    }
}

@media screen and (max-width: 920px) {
    #GoOut .item_name {
        font-size: 1.25rem;
    }
    #GoOut .item_name {
        letter-spacing: 0.25rem;
        animation: 0 none;
    }
    #GoOut .comment2 .moreinfo {
        text-align: left;
    }
}

@media screen and (max-width: 750px) {
    #GoOut .item_name {
        font-size: 1.25rem;
    }
    #GoOut.content_section .name {
        display: none;
    }
    #GoOut .moreinfo b {
        display: block;
        clear: both;
        margin-bottom: 1rem;
    }
}