#VG_CTLG .item_name,
#VG_CTLG .comment1 a {
    transform: scale(1, 2);
}

#VG_CTLG .item_name {
    padding: 1rem 0;
    font-family: 'Great Vibes', cursive;
}

#VG_CTLG .link {
    padding: 4.5rem 0 0;
}