body {
    font-family: "SimSong", "MS Mincho", serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

#post {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}

#symbol,
#color {
    display: block;
    width: 50vw;
    max-width: 750px;
    height: 100vh;
    position: absolute;
    margin: 0;
    font-family: "SimSong", "MS Mincho", serif;
}

#symbol {
    left: 0;
}

#color {
    right: 0;
}

#symbol .title,
#color .title {
    display: block;
    position: absolute;
    pointer-events: none;
    width: 100%;
    text-align: center;
    font-size: 1.25vw;
    padding: 1.25% 0;
}

#symbol .title b,
#color .title b {
    font-family: 'Times New Roman', serif;
    font-size: 1.5vw;
    font-weight: 500;
    line-height: 200%;
    font-stretch: condensed;
    font-variant: common-ligatures tabular-nums;
    display: inline-block;
    transform: scale(1, 1.1);
    word-spacing: -.25ch;
}

#symbol ul,
#color ul {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 55%;
    left: 50%;
    z-index: 10;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#symbol ul,
#color ul {
    width: 80%;
    z-index: 5;
}

#symbol li,
#color li {
    list-style: none;
    text-align: center;
    font-size: 2vw;
}

#symbol li {
    width: 20%;
}

#color li {
    width: 33%;
}

#symbol .label,
#color .label {
    display: inline-block;
    margin: 0.5vw;
    padding: 0.25vw;
    border-radius: 0.5vw;
    border: transparent solid 0.25vw;
}

#symbol .label {
    width: 3vw;
    height: 4vh;
    color: #000;
    border-radius: 0.5vw;
}

#color .label {
    width: 75%;
    height: 4.5vh;
    border-radius: 1vw;
}

#symbol input[type="radio"],
#color input[type="radio"] {
    display: none;
}

#symbol input[type="radio"]:checked+label {
    color: #fff;
    text-shadow: 0.1vw 0.1vw #000;
}

#symbol input[type="radio"]:checked+label,
#color input[type="radio"]:checked+label {
    border: #000 solid 0.25vw;
}

#post button {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
    font-family: "MS 明朝", "MS Mincho", serif;
    background: #fff;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    border: #000 solid 0.1rem;
}

#post button:hover {
    cursor: pointer;
    background: #eee;
    transition: .5s all;
}

@media screen and (max-width: 550px) {
    #symbol,
    #color {
        display: block;
        width: 100%;
        height: 50vh;
        position: relative;
        transform: rotate(90deg);
    }
    #symbol ul,
    #color ul {
        top: 60%;
        left: 50%;
        width: 60%;
        z-index: 5;
    }
    #symbol li {
        width: 20%;
        font-size: 4.5vw;
    }
    #color li {
        width: 33%;
    }
    #symbol .label,
    #color .label {
        border: transparent solid 0.5vw;
    }
    #symbol .label {
        margin: 0.5vw;
        padding: 1vw;
        width: 75%;
        height: 5vw;
    }
    #color .label {
        width: 75%;
        height: 5.5vw;
        margin: 1vw;
    }
    #symbol input[type="radio"]:checked+label {
        color: #fff;
        text-shadow: 0.5vw 0.5vw #000;
    }
    #symbol input[type="radio"]:checked+label,
    #color input[type="radio"]:checked+label {
        border: #000 solid 0.5vw;
    }
    #symbol .title,
    #color .title {
        font-size: 2.5vw;
        top: -4.5vw;
    }
    #symbol .title b,
    #color .title b {
        font-size: 3vw;
    }
}